/* /////////////////////////////////////////////////////////////////////////// */
/* ESTILOS PARA EL BOTON DE SEGUIR */
/* /////////////////////////////////////////////////////////////////////////// */

/* Estilos generales y ajuste de box-sizing para el botón y sus pseudoelementos */
.btn-followAnimado,
.btn-followAnimado *,
.btn-followAnimado :after,
.btn-followAnimado :before,
.btn-followAnimado :after,
.btn-followAnimado :before {
  border: 0 solid;
  box-sizing: border-box;
}

/* Estilos básicos para el botón, incluyendo apariencia, colores y tipografía */
.btn-followAnimado {
  -webkit-tap-highlight-color: transparent;
  /* -webkit-appearance: button; */
  background-color: #ffffff;
  background-image: none;
  color: #ffffff; /* Color en negativo, se invierte */
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  /* -webkit-mask-image: -webkit-radial-gradient(#000, #fff); */
  padding: 0;
  text-transform: uppercase;
}

/* Estilo del botón cuando está deshabilitado */
.btn-followAnimado:disabled {
  cursor: default;
}

/* Estilo del botón enfocado en Firefox */
.btn-followAnimado:-moz-focusring {
  outline: auto;
}

/* Ajustes específicos para SVGs dentro del botón */
.btn-followAnimado svg {
  display: block;
  /* vertical-align: middle; */
}

/* Estilo para elementos ocultos dentro del botón */
.btn-followAnimado [hidden] {
  display: none;
}

/* Estilos adicionales para la forma y el relleno del botón */
.btn-followAnimado {
  border-radius: 999px;
  border-width: 1px;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
}

/* Ajuste del modo de mezcla para el texto del botón */
.btn-followAnimado span {
  mix-blend-mode: difference;
}

/* Estilo inicial y animación para el efecto de expansión en :before */
.btn-followAnimado:before {
  aspect-ratio: 1;
  background: #000000;
  border-radius: 50%;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: -200%;
  transform: translateX(-50%);
  transition: height 0.3s;
}

.btn-followAnimado:hover:before {
  height: 400%;
}

/* Contenedor y animación del texto dentro del botón */
.btn-followAnimado .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-followAnimado .text {
  display: block;
  mix-blend-mode: difference;
  position: relative;
}

.btn-followAnimado:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

/* Definición de keyframes para la animación del texto */
@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

/* Estilos para Article general */
.tw-followCard {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 0.8rem;
}

/* Estilos para el header */
.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Estilos para el icono de usuario */
.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

/* Estilos para el nombre de usuario */
.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

/* Estilos para el texto de la tarjeta */
.tw-followCard-infoUser {
  opacity: 0.6;
}
